{{#each this}}
    <h2 class="card-titile">
        <img class="card-flag" src="{{flags.svg}}" alt="" width="40" >
        {{!-- {{flag}} --}}
        {{name.official}}
    </h2>
        <p class="card-text"> <b>Capital:</b>&nbsp;{{capital}}</p>
        <p class="card-text"><b>Population:</b>&nbsp;{{population}}</p>
        <ul class="card-text"><b>Languages:</b>&nbsp;
            {{#each languages}}
                {{#if @last}} <li>{{this}}</li> {{else}} <li> {{this}},&nbsp;</li>{{/if}}
            {{/each}}
        </ul>
        </p>
{{/each}}