{{#each this}}
    <h2 class="card-titile">
        {{flag}} {{name.common}}
    </h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <ul class="card-text">Languages:&nbsp;
            {{#each languages}}
                {{#if @last}} <li> {{this}}</li> {{else}} <li> {{this}},&nbsp;</li>{{/if}}
            {{/each}}
        </ul>
        </p>
{{/each}}