{{#each this}}
    <h2 class="card-titile">
        {{!-- <svg class="flag" width="40" height="40">
            <use href="{{flags.svg}}"></use>
        </svg>  --}}
        {{flag}}
        {{name.common}}
    </h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <ul class="card-text">Languages:&nbsp;
            {{#each languages}}
                {{#if @last}} <li> {{this}}</li> {{else}} <li> {{this}},&nbsp;</li>{{/if}}
            {{/each}}
        </ul>
        </p>
{{/each}}