{{#each this}}
<div class="card">
    <h2 class="card-titile">
        {{flag}} {{name.common}}
    </h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <ul class="card-text">Languages: 
        {{#each languages}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        </p>
</div>
{{/each}}